#mainWindow{
    -fx-background-image: url("image/background.jpg");
    -fx-background-repeat: repeat;
    -fx-background-size: cover, auto;
}

#pseudoInstruct{
    -fx-font: 30px Tahoma;
    -fx-text-fill: D2691E;
}

.button{
    -fx-padding: 5 22 5 22;
    -fx-font-size: 16px;
    -fx-background-color: #E66A6A;
    -fx-background-radius: 5px;
    -fx-border-width: 2;
    -fx-text-fill: #fff;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-cell-size: cover,auto;
    -fx-alignment: center;
}

#scoreText{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}